.container {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    margin: auto;
    font-family: "Roboto Slab", serif;
    padding-top: 50px;
    margin-bottom: 25px;
}
.section-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5rem;
    justify-content: space-between;
    margin-top: 50px;
}
.container .section-title {
    font-size: 18px;
    margin-bottom: 26px;
}
.section-content .motif2 {
    position: absolute;
    bottom: -25px;
    left: -25px;
    z-index: -1;
 }

 .section-content .motif1 {
    position: absolute;
    top: -55px;
    right: -55px;
    z-index: -1;
}
.card-border {
    border-left: 4px solid #d71921;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.card-formation {
    position: relative;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.date, .status {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.date h2, .status h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-right: 5px;
}

.date .date, .status .status {
    font-size: 14px;
    font-weight: bold;
}

.status .status {
    background-color: #e0e0e0;
    padding: 2px 5px;
    border-radius: 3px;
}

.icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
}

.icon i {
    color: #ce0033;
}
