@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    margin: auto;
    font-family: "Roboto Slab", serif;
    padding-top: 50px;
    margin-bottom: 25px;
}

.container .section-title {
    font-size: 18px;
    margin-bottom: 26px;
}

.section-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.card
 {
    width: 364px;
    height: 257px;
    background: white;
    border-left: 8px solid #ce0033;
    padding: 20px;
    overflow: hidden;
 }

 .card h1,
 .card-formation h1 {
    font-size: 18px;
    margin-bottom: 20px;
 }

 .card h2,
 .card-formation h2 {
    font-size: 16px;
 }

 .card .date,
 .card-formation .date {
    display: flex;
    justify-content: space-between;
 }

 .card-formation .date {
    margin-top: 8px;
 }

 .card .card-statut {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
 }

.card-border {
    width: 364px;
    height: 257px;
    border: 2px solid #ce0033;
    padding: 15px;
    position: relative;
}
.card-formation
 {
    position: absolute;
    bottom: 5%;
    width: 364px;
    height: 257px;
    background: white;
    padding: 20px 25px;

 }

 .section-content .motif2 {
    position: absolute;
    bottom: -25px;
    left: -25px;
    z-index: -1;
 }

 .section-content .motif1 {
    position: absolute;
    top: -55px;
    right: -55px;

}

 .detail-formation {
    background: none;
    border: 2px solid #ce0033;
    color: #ce0033;
    padding: 13px 84px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 15px;
    overflow: hidden;
 }

 .detail-formation:hover {
    background: #ce0033;
    color: #fff;
 }

/* La page Détail formation */

.content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-head .retour{
    color: #ce0033;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.container .content {
    display: flex;
    gap: 2%;
    width: 100%;
}

.content .info-formation {
    background: white;
    width: 70%;
    min-height: 506px;
    border-radius: 10px;
    padding: 45px 56px;
    border: 1px solid black;
}

.content .info-formation h1 {
    font-size: 30px;
    margin-bottom: 23px;
}

.content .detail-date {
    display: flex;
    gap: 100px;
    color: #ce0033;
    margin-top: 45px;
}

.content .detail-date h3 span {
    color: grey;
}

.info-formation h4 {
    color: #ce0033;
    margin-top: 36px;
    margin-bottom: 23px;
}

.content .pre-requis {
    background: white;
    width: 30%;
    height: 400px;
    border-radius: 10px;
    padding: 45px 56px;
    border: 1px solid black;
}

.content .pre-requis h4 {
    color: #ce0033;
    font-size: 18px;
    margin-bottom: 23px;
}

/* Formulaire candidature */
.container .formulaire-candidat {
    width: 100%;
    min-height: 690px;
    background: white;
    padding: 22px 46px 50px 46px;
    border-radius: 10px;
}

.container .formulaire-candidat h1 {
    margin-bottom: 28px;
}

.form-group {
    margin-bottom: 35px;
}

.form-group label {
}

.form-group textarea {
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
    outline-color: #ce0033;
    padding: 20px;
    font-size: 18px;
}

.form-group-flex {
    display: flex;
    gap: 81px;
}
.form-group-flex .form-input {
    width: 50%;
}

.form-group-flex .form-input .input-50 {
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    outline-color: #ce0033;
}

.form-group-flex .form-input select {
    background: none;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    outline-color: #ce0033;
}
